<h1 class="page-title">
    Información del Proyecto
</h1>
<div class="welcome">
    <div class="welcome-left">
        <div class="welcome-left-content">
            <h1>
                <span class="fullstack">
                    Bienvenido - Desarrollador Angular
                </span>
            </h1>
            <h2>Esta es una presentación que he desarrollado para mostrar mis conocimientos con Angular.</h2>
            <ul class="welcome-tecnologies">
                <li>
                    <img 
                        src="assets/angular.png"
                        alt="angular.png"
                    />
                </li>
                <li>
                    <img 
                        src="assets/ngrx.svg"
                        alt="ngrx.svg"
                    />
                </li>
                <li>
                    <img
                        src="assets/material.png"
                        alt="material.png"
                    />
                </li>
            </ul>
        </div>
    </div>
    <div class="welcome-right">
        <img src="assets/home.png">
    </div>

    <div class="juubi">
        <h1>Erick Jonathan Cinco Ayon</h1>
    </div>
</div>
