@import '../../app.component.scss';

.welcome {
    width: 100%;
    height: 400px;
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    position: relative;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        background-color: $main;
        border-radius: $border-radius;
        position: absolute;
        z-index: 1;
    }

    .welcome-over-image {
        position: relative;
        width: 100%;
        height: 400px;
        background-color: rgba(0,0,0,.5);
        z-index: 2;
        display: flex;
        align-items: center;

        .welcome-over-image-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h1 {
                width: 100%;
                color: $font-white;
                font-size: 35px;
                letter-spacing: .5px;
                font-family: 'Archivo Black';
                text-align: center;

                span {
                    font-family: 'Archivo Black';
                    color: $main;
                    font-size: 40px;
                    -webkit-text-stroke-width: 1px; 
                    -webkit-text-stroke-color: $white; 
                }
            }

            p {
                width: 100%;
                color: $font-white;
                font-size: 20px;
                letter-spacing: .5px;
                text-align: center;
                margin: 15px 0 18px;
            }
            
            button {
                width: 260px;
                background-color: $main;
                margin: 0 auto;
                font-size: 18px;
                padding: 5px 0;
                color: $font-white;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: .5px;
                box-shadow: $box-shadow;
            }
        }
    }
}