<h1 class="page-title">
    Bienvenida
</h1>
<div class="welcome">
    <img 
        src="assets/buildings.png"
        alt="buildings.png"
    />
    <div class="welcome-over-image">
        <div class="welcome-over-image-content">
            <h1>
                Bienvenido a mi 
                <span>Portal</span>
            </h1>
            <p>¿Nos podrías indicar tu nombre?</p>
            <button mat-button (click)="openDialog();">
                Ingresar Nombre
            </button>
        </div>
        
    </div>
</div>