// Body Color
$body-color: var(--body-color);

// Backgrounds
$white: var(--white);
$dark: var(--dark);

// Main Color 
$main: var(--main);
$main-light: var(--main-light);
$main-dark: var(--main-dark);

// Fonts Color
$font-white: var(--font-white);
$font-dark: var(--font-dark);
$font-gray: var(--font-gray);
$font-white-light: var(--font-white-light);

$box-shadow: var(--box-shadow);
// Fonts Types
$font-family-title: 'Concert One', cursive;

// Borders Color
$border-light: var(--border-light);
$border-dark: var(--border-dark);
$border-radius: 3px;

// Ripple Effect
$ripple-background: rgba(94, 94, 94, 0.7);
$scale: scale(.95);

$action: #0095f6;
$danger: #f8737e;
$black-grey: #202020;

$transition: all .2s ease-in-out;
$shadow: 0 7px 6px -6px black;
$box-shadow2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

$love: #f3808a;
$wait: #f3ebb6;
$watch: #70c5df;

$dark-light: #505050;
$gray: #6E6E6E;
$orange: #F17338;
$red: #FE6A6A;
$green: #8cc57e;
$blue: #14bbf0;

// Emision message colors
$color-love:#f3808a;
$bg-love: #faf1f2;
$shadow-love: 0 0 0 1px #cc979c inset, 0 0 0 0 transparent;

$color-wait:#e6d884;
$bg-wait: #fcfaf0;
$shadow-wait: 0 0 0 1px #cecab4 inset, 0 0 0 0 transparent;

$color-watch:#70c5df;
$bg-watch: #f0f9fc;
$shadow-watch: 0 0 0 1px #a3bcc4 inset, 0 0 0 0 transparent;