<header class="header">
    <div class="header-content">
        <div 
            routerLink="/pages"
            class="header-content-logo"
        >
            <img 
                src="assets/logo.png" 
                alt="logo.png"
            />
            <h1>Test-Company</h1>
        </div>

        <div class="header-content-user">
                <div class="header-user-img">
                    <img
                        src="assets/user.png"
                        alt="user.png"
                    />

                    <ng-container
                        *ngIf="( name$ | async )"
                    >
                        <h5>{{ ( name$ | async )}}</h5>
                    </ng-container>
                    <ng-container
                        *ngIf="!( name$ | async )"
                    >
                        <h5> </h5>
                    </ng-container>
                    
                </div>

                <div class="header-content-user-btn">
                    <button mat-button>
                        <mat-icon>notifications</mat-icon>
                    </button>

                    <div class="header-notify">
                        <span>0</span>
                    </div>
                </div>

                <div class="header-content-user-btn">
                    <button mat-button>
                        <mat-icon>mail</mat-icon>
                    </button>
                    
                    <div class="header-notify">
                        <span>0</span>
                    </div>
                </div>

                <div class="header-content-user-btn">
                    <ng-container
                        *ngIf="!( activeThemeList$ | async )"
                    >
                        <button 
                            (click)="showOptionThemes( true );"
                            mat-button
                        >
                            <mat-icon>palette</mat-icon>
                        </button>
                    </ng-container>

                    <ng-container
                        *ngIf="( activeThemeList$ | async )"
                    >
                        <button 
                            (click)="showOptionThemes( false );"
                            mat-button
                        >
                            <mat-icon>palette</mat-icon>
                        </button>
                    </ng-container>
                    
                    <div class="header-theme-btn-box" #themeOptions>
                        <app-theme-settings></app-theme-settings>
                    </div>
                </div>
        </div>
    </div>
</header>