<ul class="header-content-theme-list">
    <button mat-button (click)="selectTheme('default');">
        <div class="header-theme-btn-color theme-purple"></div>
        <div class="header-theme-btn-color theme-white"></div>
        <span>
            Modo nativo
        </span>
    </button>
    <button mat-button (click)="selectTheme('sennin');">
        <div class="header-theme-btn-color theme-sennin"></div>
        <div class="header-theme-btn-color theme-white"></div>
        <span>
            Modo Sennin
        </span>
    </button>
    <button mat-button (click)="selectTheme('dark');">
        <div class="header-theme-btn-color theme-dark"></div>
        <div class="header-theme-btn-color theme-dark-secondary"></div>
        <span>
            Modo oscuro
        </span>
    </button>
    <button mat-button (click)="selectTheme('uchiha');">
        <div class="header-theme-btn-color theme-uchiha-primary"></div>
        <div class="header-theme-btn-color theme-uchiha-secondary"></div>
        <span>
            Modo Uchiha
        </span>
    </button>
</ul>